.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    line-height: 1;
    padding: 2rem 2rem 0 2rem;
    width: 100%;
}
.header__title,
.header__tagline {
  color: var(--east-bay);
  display: flex;
  font-family: bnt-ob;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  width: 100%;
}
.header__title {
  font-size: 4rem;
}
.header__tagline {
  font-size: 2rem;
}
