:root {
  /* Colors */
  --black: #000;
  --east-bay: #405275;
  --orange-peel: #ff9c00;
  --white: #fff;
  /* Fonts */
  --bnt: 'bnt', sans-serif;
  --bnt-ob: 'bnt-ob', sans-serif;
  --lato: 'Lato', sans-serif;
}
::selection {
  background: var(--orange-peel);
  color: var(--white);
}
html {
  background: url('./img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  height: 100vh;
}
*, *:before, :after {
  box-sizing: inherit;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
.app__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
